/* 
    Theme: Vegetarian Restaurant;
*/

*{
    margin: 0;
    padding: 0;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: Karla;
    box-sizing: border-box;
}
.Logo{
    float: left;
}
.Logo ul{
    list-style-type: none;
}
.Logo ul li{
    display: inline;
}
.text-right{
    text-align: right;
}
.quicklinks{
    line-height: 60px;
    font-size: 15px;
}
.quicklinks a{
    padding: 15px;
    border: 1px solid;
    border-radius: 8px;
}
.quicklinks a:hover {
    background-color: rgb(50, 104, 161);
    padding: 15px;
    text-decoration: underline ;
    color: white;
    border-radius: 8px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.quicklinks ul{
    list-style-type: none;
}
.quicklinks ul li{
    display: inline;
    padding: 1%;
}
.clearfix{
    clear:both;
    float:none;
}

.padding{
    padding: 10px;
}
.message-container{
    margin-left: 30%;
    margin-right: 30%;
    padding: 20px;
    border: 1px solid rgb(50, 104, 161);
    margin-bottom: 25px;
    margin-top: 25px;
    box-shadow: 5px 10px rgb(50, 104, 161);
    position: relative; 
    z-index: -1;
}
.container{
    width: 90%;
    margin: 0 auto;
    padding: 1%;
}
.menu-container{
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url("../images/cutveg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.menu-box{
    position: relative;
    width: 300px;
    height: 400px;
    background-color: #ffffff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    box-shadow: 10px 0 20px rgba(0, 0, 0, 0.4),
        inset 10px 0 25px rgba(118, 118, 118, 0.4);
    transform: perspective(2000px);
    transform-style: preserve-3d;
    transition: all 1s ease;
}

.content{
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content h2{
    margin-bottom: 1rem;
}
.content a:hover {
    font-size: 20px;
    font-weight: bold;
}

.cover{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transform-origin: left;
    transform-style: preserve-3d;
    transition: all 1s ease;
}
.cover img{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    backface-visibility: hidden;
}
.cover img:nth-child(1){
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.menu-box:hover .cover{
    transform: rotateY(-135deg);
    box-shadow: 10px 0 20px rgba(0, 0, 0, 0.4),
        inset 10px 0 25px rgba(0, 0, 0, 0.4);
}
.button {
    width: 300px;
    height: 400px;
    background-color: #ffffff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.Navbar{
    position: sticky;
    background-color: white;
    top: 0;
}
.Navbar a{
    /* potential colors: #93C560 */
    color:#75a140;
    font-weight: bold;
    text-decoration: none;
}

.dark-background{
    background-color:rgb(50, 104, 161);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-box-shadow: -1px 18px 68px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 18px 68px 5px rgba(0,0,0,0.75);
    box-shadow: -1px 18px 68px 5px rgba(0,0,0,0.75);
}
.dark-background a{
    color: white;
}
.dark-background a:hover{
    background-color: white;
    color: rgb(194, 48, 104);
    border-color: rgb(50, 104, 161);
}
/* FOR THE ABOUT PAGE */
.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.text {
    /* text-align: center; */
    /* border-left: 1px solid gray; */
    padding-top: 20px;
    padding-left: 20px;
    margin-top: 25px;
}

.about_header {
    padding-top: 15px;
    text-align: center;
    padding-bottom: 30px;
}
.divider {
    padding: 10px;
    border-bottom: 2px solid gray;
    margin-left: 30%;
    margin-right: 30%;
}
.divider2 {
    padding: 10px;
    border-bottom: 2px solid gray;
    margin-left: 10%;
    margin-right: 10%;
}

.image-container {
    padding: 20px;
}

.image-container img {
    max-width: 100%;
    border-radius: 10px;
}
.contact{
    padding: 5%;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(244, 244, 244);
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    position: relative; 
    z-index: -1;
}

.contact-header {
    text-align: left;
    flex: 30%;
}
.contact-info {
    margin-top: 20px;
    flex: 10%;
}
.contact-info span {
    font-size: larger;
    font-weight: bold;
    color:#3e581e;
}

/* FOR THE REFERENCES PAGE. */
.references {
    padding: 5%;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(244, 244, 244);
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    box-shadow: 15px 10px rgb(73, 107, 146);
}
.references_header {
    flex: 50%;
    text-align: left;
}
.references-text {
    font-size: 15px;
    flex: 50%;
    margin-left: 5%;
    margin-right: 5%;
    border-left: 5px solid rgba(128, 128, 128, 0.308);
    padding-left: 5%;
}
.references-text span {
    font-size: 22px;
    font-weight: bold;
    color: #3e581e;
    padding: 20px;
}
.references-text a {
    text-decoration: none;
}

/* ANIMATIONS */
.aos-init[data-aos][data-aos].aos-animate {
    transform: unset;
}
[data-aos] {
pointer-events: none;
}
.aos-animate {
pointer-events: auto;
}
.aos-init[data-aos][data-aos].aos-animate {
transform: unset;
} 
